body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color: white !important;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:active {
  background-color: none;
}